@keyframes breath {
  0% {
    animation-timing-function: cubic-bezier(0.9647, 0.2413, -0.0705, 0.7911);
    transform: scale(0.98);
  }
  51% {
    animation-timing-function: cubic-bezier(0.9226, 0.2631, -0.0308, 0.7628);
    transform: scale(1.02);
  }
  100% {
    transform: scale(0.98);
  }
}

@keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes fall-btt-in {
  0% {
    animation-timing-function: cubic-bezier(0.7815, 0.1815, 0.7831, 0.7206);
    transform: translate(0px, 49.75px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 0;
  }
  51% {
    animation-timing-function: cubic-bezier(0.1707, 0.3173, 0.3345, 0.9041);
    transform: translate(0px, 2.65px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
  71% {
    animation-timing-function: cubic-bezier(0.6191, 0.1797, 0.7336, 0.6732);
    transform: translate(0px, 20px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
}

@keyframes grow-rtl-in {
  0% {
    animation-timing-function: cubic-bezier(0.1006, 0.3357, -0.2396, 0.6703);
    transform: translate(49.75px, 0px) rotate(0deg) scale(0.005, 1) skewX(0deg)
      skewY(0deg);
    opacity: 0;
  }
  2% {
    animation-timing-function: cubic-bezier(0.2668, 0.6542, 0.5372, 0.8035);
    transform: translate(31.2px, 0px) rotate(0deg) scale(0.376, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
}
