@keyframes breath {
  0% {
    animation-timing-function: cubic-bezier(0.9647, 0.2413, -0.0705, 0.7911);
    transform: scale(0.95);
  }
  51% {
    animation-timing-function: cubic-bezier(0.9226, 0.2631, -0.0308, 0.7628);
    transform: scale(1.02);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes float-ttb-in {
  0% {
    animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
    transform: translate(0px, -14.925px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 0.05;
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1) skewX(0deg)
      skewY(0deg);
    opacity: 1;
  }
}
