.Grid {
  display: flex;
  flex-wrap: wrap;

  &.is-top {
    align-items: flex-start;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-stretch {
    align-items: stretch;
  }
  &.is-baseline {
    align-items: baseline;
  }
  &.is-left {
    justify-content: flex-start;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

.Cell {
  box-sizing: border-box;
  flex-shrink: 0;

  &.is-fill {
    width: 0;
    min-width: 0;
    flex-grow: 1;
  }
  &.is-1 {
    width: calc(100% * 1 / 12);
  }
  &.is-2 {
    width: calc(100% * 2 / 12);
  }
  &.is-3 {
    width: calc(100% * 3 / 12);
  }
  &.is-4 {
    width: calc(100% * 4 / 12);
  }
  &.is-5 {
    width: calc(100% * 5 / 12);
  }
  &.is-6 {
    width: calc(100% * 6 / 12);
  }
  &.is-7 {
    width: calc(100% * 7 / 12);
  }
  &.is-8 {
    width: calc(100% * 8 / 12);
  }
  &.is-9 {
    width: calc(100% * 9 / 12);
  }
  &.is-10 {
    width: calc(100% * 10 / 12);
  }
  &.is-11 {
    width: calc(100% * 11 / 12);
  }
  &.is-12 {
    width: 100%;
  }
}

body {
  font-size: 16px;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.is-fullheight {
    min-height: 100vh;

    .hero-body {
      align-items: center;
      display: flex;
    }
  }

  &-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
  }
}

.icon {
  width: 2em;
  height: 2em;
  margin: 0 auto;
  fill: currentColor;
  cursor: pointer;
  display: inline-block;

  &-search {
    color: #f59f00;
    position: absolute;
    top: 2em;
    right: 2em;
    transition: opacity 0.5s;
  }

  &-close {
    color: #f59f00;
    position: absolute;
    top: 2em;
    right: 2em;
  }
}

.app {
  background: url(https://pic4.zhimg.com/v2-765d6c5abf05f79fe77ecfa91f864410_r.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  position: relative;
  transition: transform 0.5s;

  &.is-move {
    transform: scale3d(0.7, 0.7, 1);

    .icon-search {
      opacity: 0;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s;
  transform: scale3d(0.7, 0.7, 1);
  color: #eaba82;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1, 1, 1);

    & > * {
      transform: translate3d(0, 0, 0);
    }

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
  }
}
