@import 'reset';
@import 'animation';
@import 'bulma';
@import 'ui-component';
@import 'actions-nav';
@import 'page';
@import 'editor';
@import 'setting';
@import 'shortcut';
@import 'search';

.one {
  // preload
  background: url(../static/nature-sprite.png) no-repeat -9999px -9999px;
  background-size: 0;
}

.yiju {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
