$mask-play-timing: 0.35s;

.page {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: url(https://ps.ssl.qhmsg.com/t012ef745c77d34b194.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $oc-gray-1;
  visibility: hidden;
  margin: 0;
  padding: 0;

  &.is-half-active {
    z-index: 20;
    visibility: visible;
  }

  &.is-active {
    z-index: 30;
    visibility: visible;
  }

  &.is-hide {
    -webkit-mask: url(../static/nature-sprite.png);
    mask: url(../static/nature-sprite.png);
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    -webkit-animation: mask-play $mask-play-timing steps(22) forwards;
    animation: mask-play $mask-play-timing steps(22) forwards;
  }

  &.is-home {
    z-index: 25;
  }

  &.is-setting {
    display: flex;
    align-items: flex-end;
  }
}
