.search-row {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $oc-gray-0;

  .field {
    border-top: 1px solid $oc-gray-3;

    input {
      border: 0;
      width: 100%;
      padding: 1em;
      font-size: 1.15em;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .buttons {
    border-top: 1px solid #eee;
    margin-bottom: 0;

    .button {
      flex-basis: 0;
      flex-grow: 1;
      color: $oc-teal-7;
      margin-bottom: 0;
      border: none;
      transition: color 1s;

      &:empty {
        display: none;
      }

      & + button {
        border-left: 1px solid rgba(37, 121, 66, 0.15) !important;
      }
    }
  }
}
