.panel {
  background-color: $oc-gray-0;
  padding: 0.5em 1.5em 0;
  width: 100%;
  z-index: 2;
  position: relative;
  font-size: 0.85rem;

  .top-avatar {
    position: absolute;
    top: -5.5rem;
    right: 0.5rem;
    cursor: pointer;

    img {
      max-width: 200px;
      animation: 5s linear 0s infinite normal forwards running breath;

      &:focus {
        outline: none;
      }
    }
  }

  .item {
    display: flex;
    padding: 1em 0;
    transition: all 1s;

    &.is-block {
      display: block;
    }

    &.is-tip {
      font-size: 0.85em;
    }

    .name,
    .value {
      flex: 1;
    }

    .name {
      color: $oc-gray-8;
      font-weight: bold;
    }

    .value {
      color: $oc-gray-6;
      display: flex;
      justify-content: flex-end;
    }

    & + .item {
      border-top: 1px solid $oc-gray-2;
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    color: $oc-gray-4;
    font-size: 0.6rem;
    display: block;
    text-decoration: none;

    span {
      margin: 0 0.5em;
    }
  }
}
